<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">

        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>


<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Facturas ({{ facturas.length }})</h4>
                        <h6 class="card-subtitle">
                            Facturas registradas
                        </h6>
                    </div>

                    <div class="col">
                        <div class="text-right">
                            <a class="btn btn-primary" routerLink="/dashboard/factura/nueva">
                                <i class="fa fa-hospital-o"></i>
                                Crear factura
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Valor</th>
                                <th>Estado</th>
                                <th class="w100">Foto</th>
                                <th class="w100 text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let factura of facturas">
                                <td>
                                    {{ factura.codigo }}
                                </td>
                                <td>
                                    {{ factura.nombre }}
                                </td>
                                <td>
                                    {{ factura.email }}
                                </td>
                                <td>
                                    {{ factura.valor }}
                                </td>
                                <td>
                                    {{ factura.estado }}
                                </td>
                                <td class="text-center">
                                    <img [src]="factura.img | imagen:'facturas'" [alt]="factura.codigo" class="w100 cursor"
                                        (click)="abrirModal(factura)">
                                </td>

                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/dashboard','factura', factura._id ]" data-toggle="tooltip"
                                        data-original-title="Editar">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    </a>

                                    <a class="cursor" data-toggle="tooltip" data-original-title="Borrar"
                                        (click)="borrarFactura( factura )">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- 
                <button class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button class="btn btn-secondary">Siguientes</button> -->

            </div>
        </div>
    </div>
</div>